*{
    font-family: 'comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container h1{
padding: 20px 0;
}
.cart{
    display: flex;
}
.products{
    flex: 0.75;   /* product nte panel neelam koottan */
}
.product{
    display: flex;
    width: 100%;
    height: 232px;
    overflow: hidden;
    border: 1px 307px solid silver;
    margin-bottom: 20px;

}
.product:hover{   /* productinte panelilekku mouse move cheyyumbol panel motham onnu pongi nikkan */
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.01)
 } 
.product img{
    width: 300px;
    height: 210px;
    object-fit: cover;
}
.product img:hover{
transform: scale(1.04);  /* product image ilottu cursor move cheyyumbol img onnu pongikanikkan*/
}
.product-info{
    padding: 20px;
    width: 100%;
    position: relative;
}
.product-name, .product-price, .product-offer{
    margin-bottom: 20px;
    
}
.product-remove{
    position: absolute;
    bottom: 6px;
    right: 20px;
    padding: 10px 25px;
    background-color: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;

}


.product-remove:hover{
    background-color: white;
    color: green;
    font-weight: 600;
    border: 1px solid green;
}
.product-quantity input{
    width: 40px;
    padding: 5px;
    text-align: center;
}

.fa{
    margin-right: 5px;
}
.cart-total{
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 240px;
    border: 1px solid silver;
    border-radius: 5px;
}


.cart-total p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    font-size: 20px;
}

.cart-total a{
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: tomato;
    color: white;
    text-decoration: none;
}


.cart-total a:hover{

    background-color: red;
}
@media screen and (max-width:700px) {
    .remove{     /* screen size mobile size aavumbol remove ennu ezhuthiyathu kaanathe icon maatram kaanan */
        display: none; 
    }
    .product{
        height: 150px;
    }
    .product img{
        height: 150px;
        width: 200px;

    }
    .product-name, .product-price, .product-offer{
        margin-bottom: 5px;   /* screen cheruthakkumbol melekoduththokke eg product name price etc ellam kaanunna reethiyil set aayittirikkan*/
    }
    
}


@media  screen and (max-width: 900px){ /*screen cheruthakkumbol total price no.of item etc..aa itemsnte box thazhekku irangi vrithikku nikkan */ 
    .cart{
        flex-direction: column;
    }
    .cart-total{ /* cart total size and product info(productname,img)size same(box aayi kaanunnathu aavan*/
        margin-left: 0;
        margin-bottom: 20px;
    }
    
}
@media screen and (max-width: 1220px){ /* screen cheriya size aakkumbolum vrithikku varan vendittu */
    .container{
        max-width: 95%;
    }

}    
.set-quantity{
    position: relative;
    display: flex;
}
.set-quantity::after{
    content: (Note, 1 piece);
    width: auto;
    height: auto;
    text-align: center;
    position: absolute;
    font-size: 0.7rem;
    bottom: -20px;
    right: 2rem;
}
.page-link{
    line-height: 16px;
    width: 45px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #495057;
}
.page-item{
    line-height: 16px;
    padding: 1px;
    font-size: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}
.col-6{
    display: inline;
}